USE [master]
GO
/****** Object:  Database [ERPDb]    Script Date: 3/28/2025 8:57:48 PM ******/
CREATE DATABASE [ERPDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ERPDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ERPDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ERPDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ERPDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ERPDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ERPDb]
GO
/****** Object:  Schema [ERPDb Schema ]    Script Date: 3/28/2025 8:57:48 PM ******/
CREATE SCHEMA [ERPDb Schema ]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 3/28/2025 8:57:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 3/28/2025 8:57:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[AccountId] [int] IDENTITY(1,1) NOT NULL,
	[AccountName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](150) NULL,
	[OpeningBalance] [decimal](18, 2) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Accounts] PRIMARY KEY CLUSTERED 
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Companies]    Script Date: 3/28/2025 8:57:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Companies](
	[CompanyId] [nvarchar](128) NOT NULL,
	[CompanyName] [nvarchar](max) NULL,
	[CompanyMailingName] [nvarchar](max) NULL,
	[CompanyCode] [nvarchar](max) NULL,
	[CompanyAddress] [nvarchar](max) NULL,
	[CompanyState] [nvarchar](max) NULL,
	[Country] [nvarchar](max) NULL,
	[Pincode] [nvarchar](max) NULL,
	[TelephoneNo] [nvarchar](max) NULL,
	[MobileNo] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Website] [nvarchar](max) NULL,
	[BaseCurrencySymbol] [nvarchar](max) NULL,
	[FinancialYearBeginning] [datetime] NOT NULL,
	[BookBeginning] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Companies] PRIMARY KEY CLUSTERED 
(
	[CompanyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 3/28/2025 8:57:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[CountryCode] [nvarchar](128) NOT NULL,
	[CountryName] [nvarchar](max) NULL,
	[CountryShortName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Countries] PRIMARY KEY CLUSTERED 
(
	[CountryCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DayBooks]    Script Date: 3/28/2025 8:57:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DayBooks](
	[DayBookId] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Description] [nvarchar](500) NULL,
	[DebitAmount] [decimal](18, 2) NOT NULL,
	[CreditAmount] [decimal](18, 2) NOT NULL,
	[AccountId] [int] NOT NULL,
	[GeneralLedgerId] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.DayBooks] PRIMARY KEY CLUSTERED 
(
	[DayBookId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EInvoiceDetails]    Script Date: 3/28/2025 8:57:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EInvoiceDetails](
	[EInvoiceDetailsId] [nvarchar](128) NOT NULL,
	[EInvoiceApplicable] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.EInvoiceDetails] PRIMARY KEY CLUSTERED 
(
	[EInvoiceDetailsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ERPSettings]    Script Date: 3/28/2025 8:57:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ERPSettings](
	[SettingID] [int] IDENTITY(1,1) NOT NULL,
	[SettingName] [nvarchar](100) NOT NULL,
	[SettingValue] [nvarchar](255) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.ERPSettings] PRIMARY KEY CLUSTERED 
(
	[SettingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EWayBillDetails]    Script Date: 3/28/2025 8:57:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EWayBillDetails](
	[EWayBillDetailsId] [nvarchar](128) NOT NULL,
	[EWayBillApplicable] [bit] NOT NULL,
	[ApplicableFrom] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.EWayBillDetails] PRIMARY KEY CLUSTERED 
(
	[EWayBillDetailsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FinancialYears]    Script Date: 3/28/2025 8:57:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FinancialYears](
	[FinancialYearId] [int] IDENTITY(1,1) NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.FinancialYears] PRIMARY KEY CLUSTERED 
(
	[FinancialYearId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GeneralLedgers]    Script Date: 3/28/2025 8:57:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GeneralLedgers](
	[GeneralLedgerId] [int] IDENTITY(1,1) NOT NULL,
	[LedgerName] [nvarchar](max) NULL,
	[GroupOrType] [nvarchar](max) NULL,
	[DynamicField] [nvarchar](max) NULL,
	[OpeningBalance] [decimal](18, 2) NOT NULL,
	[CrDr] [nvarchar](2) NOT NULL,
	[LedgerGroupId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.GeneralLedgers] PRIMARY KEY CLUSTERED 
(
	[GeneralLedgerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GlobalDataConfigs]    Script Date: 3/28/2025 8:57:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GlobalDataConfigs](
	[ConfigID] [int] IDENTITY(1,1) NOT NULL,
	[ConfigName] [nvarchar](100) NOT NULL,
	[ConfigValue] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[SettingID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.GlobalDataConfigs] PRIMARY KEY CLUSTERED 
(
	[ConfigID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GlobalStocks]    Script Date: 3/28/2025 8:57:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GlobalStocks](
	[GlobalStockId] [int] IDENTITY(1,1) NOT NULL,
	[ItemCode] [nvarchar](max) NULL,
	[TotalStock] [int] NOT NULL,
	[ItemId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.GlobalStocks] PRIMARY KEY CLUSTERED 
(
	[GlobalStockId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GstConnectedDetails]    Script Date: 3/28/2025 8:57:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GstConnectedDetails](
	[ConnectedDetailsId] [nvarchar](128) NOT NULL,
	[GSTPortalUsername] [nvarchar](max) NULL,
	[ModeOfFilling] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.GstConnectedDetails] PRIMARY KEY CLUSTERED 
(
	[ConnectedDetailsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GstDetails]    Script Date: 3/28/2025 8:57:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GstDetails](
	[GstDetailsId] [nvarchar](128) NOT NULL,
	[CompanyId] [nvarchar](128) NOT NULL,
	[State] [nvarchar](max) NULL,
	[RegistrationType] [nvarchar](max) NULL,
	[AssesseeOfOtherTerritory] [bit] NOT NULL,
	[GSTINUIN] [nvarchar](max) NULL,
	[PeriodicityOfGSTR1] [nvarchar](max) NULL,
	[EInvoiceApplicable] [bit] NOT NULL,
	[ConnectedDetails_ConnectedDetailsId] [nvarchar](128) NULL,
	[EInvoiceDetails_EInvoiceDetailsId] [nvarchar](128) NULL,
	[EWayBillDetails_EWayBillDetailsId] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.GstDetails] PRIMARY KEY CLUSTERED 
(
	[GstDetailsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemCategories]    Script Date: 3/28/2025 8:57:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemCategories](
	[ItemCategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ItemCategories] PRIMARY KEY CLUSTERED 
(
	[ItemCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemGroups]    Script Date: 3/28/2025 8:57:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemGroups](
	[ItemGroupId] [int] IDENTITY(1,1) NOT NULL,
	[GroupName] [nvarchar](max) NULL,
	[ParentGroupId] [int] NULL,
 CONSTRAINT [PK_dbo.ItemGroups] PRIMARY KEY CLUSTERED 
(
	[ItemGroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Items]    Script Date: 3/28/2025 8:57:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items](
	[ItemId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[ItemCode] [nvarchar](max) NULL,
	[UOM] [nvarchar](max) NULL,
	[Group] [nvarchar](max) NULL,
	[Category] [nvarchar](max) NULL,
	[PartNo] [nvarchar](max) NULL,
	[GstApplicable] [bit] NOT NULL,
	[HsnSacCode] [nvarchar](max) NULL,
	[TaxableType] [nvarchar](max) NULL,
	[IGST] [decimal](18, 2) NOT NULL,
	[CGST] [decimal](18, 2) NOT NULL,
	[SGST] [decimal](18, 2) NOT NULL,
	[CessValuationType] [nvarchar](max) NULL,
	[CessRate] [decimal](18, 2) NOT NULL,
	[ApplicableForReverseCharge] [bit] NOT NULL,
	[EligibleForTaxCredit] [bit] NOT NULL,
	[SupplierId] [int] NOT NULL,
	[ItemCategory_ItemCategoryId] [int] NULL,
 CONSTRAINT [PK_dbo.Items] PRIMARY KEY CLUSTERED 
(
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LedgerGroups]    Script Date: 3/28/2025 8:57:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LedgerGroups](
	[LedgerGroupId] [int] IDENTITY(1,1) NOT NULL,
	[GroupName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.LedgerGroups] PRIMARY KEY CLUSTERED 
(
	[LedgerGroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LedgerHeads]    Script Date: 3/28/2025 8:57:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LedgerHeads](
	[LedgerHeadID] [int] IDENTITY(1,1) NOT NULL,
	[LedgerName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[OpeningBalance] [decimal](18, 2) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.LedgerHeads] PRIMARY KEY CLUSTERED 
(
	[LedgerHeadID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NetworkModules]    Script Date: 3/28/2025 8:57:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NetworkModules](
	[NetworkModuleId] [int] IDENTITY(1,1) NOT NULL,
	[ModuleName] [nvarchar](max) NULL,
	[IpAddress] [nvarchar](max) NULL,
	[SubnetMask] [nvarchar](max) NULL,
	[Gateway] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.NetworkModules] PRIMARY KEY CLUSTERED 
(
	[NetworkModuleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[States]    Script Date: 3/28/2025 8:57:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[States](
	[StateCode] [nvarchar](128) NOT NULL,
	[StateName] [nvarchar](max) NULL,
	[StateShortName] [nvarchar](max) NULL,
	[CountryCode] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.States] PRIMARY KEY CLUSTERED 
(
	[StateCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 3/28/2025 8:57:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[SupplierId] [int] IDENTITY(1,1) NOT NULL,
	[SupplierName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Suppliers] PRIMARY KEY CLUSTERED 
(
	[SupplierId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TcsDetails]    Script Date: 3/28/2025 8:57:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TcsDetails](
	[TcsDetailsId] [nvarchar](128) NOT NULL,
	[CompanyId] [nvarchar](128) NOT NULL,
	[TanRegistrationNo] [nvarchar](max) NULL,
	[TaxDeductionAndCollectionAccountNo] [nvarchar](max) NULL,
	[CollectorType] [nvarchar](max) NULL,
	[CollectorBranchDivision] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.TcsDetails] PRIMARY KEY CLUSTERED 
(
	[TcsDetailsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TdsDetails]    Script Date: 3/28/2025 8:57:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TdsDetails](
	[TdsDetailsId] [nvarchar](128) NOT NULL,
	[CompanyId] [nvarchar](128) NOT NULL,
	[TanRegistrationNo] [nvarchar](max) NULL,
	[TaxDeductionAndCollectionAccountNo] [nvarchar](max) NULL,
	[DeductionType] [nvarchar](max) NULL,
	[DeductionBranchDivision] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.TdsDetails] PRIMARY KEY CLUSTERED 
(
	[TdsDetailsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 3/28/2025 8:57:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[TransactionId] [int] IDENTITY(1,1) NOT NULL,
	[TransactionDate] [datetime] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[DebitLedgerId] [int] NOT NULL,
	[CreditLedgerId] [int] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[Type] [int] NOT NULL,
	[TypeString] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Transactions] PRIMARY KEY CLUSTERED 
(
	[TransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UnitOfMeasurements]    Script Date: 3/28/2025 8:57:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UnitOfMeasurements](
	[UnitID] [int] IDENTITY(1,1) NOT NULL,
	[UnitName] [nvarchar](50) NOT NULL,
	[ShortName] [nvarchar](10) NULL,
 CONSTRAINT [PK_dbo.UnitOfMeasurements] PRIMARY KEY CLUSTERED 
(
	[UnitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Accounts] ON 

INSERT [dbo].[Accounts] ([AccountId], [AccountName], [Description], [OpeningBalance], [CreatedDate], [UpdatedDate]) VALUES (1, N'Sample Account 1', N'This is sample account 1 description', CAST(1500.00 AS Decimal(18, 2)), CAST(N'2025-03-27T20:17:12.720' AS DateTime), CAST(N'2025-03-27T20:17:12.720' AS DateTime))
INSERT [dbo].[Accounts] ([AccountId], [AccountName], [Description], [OpeningBalance], [CreatedDate], [UpdatedDate]) VALUES (2, N'Sample Account 2', N'This is sample account 2 description', CAST(2500.50 AS Decimal(18, 2)), CAST(N'2025-03-27T20:17:12.720' AS DateTime), CAST(N'2025-03-27T20:17:12.720' AS DateTime))
INSERT [dbo].[Accounts] ([AccountId], [AccountName], [Description], [OpeningBalance], [CreatedDate], [UpdatedDate]) VALUES (3, N'Sample Account 3', N'This is sample account 3 description', CAST(3200.75 AS Decimal(18, 2)), CAST(N'2025-03-27T20:17:12.720' AS DateTime), CAST(N'2025-03-27T20:17:12.720' AS DateTime))
SET IDENTITY_INSERT [dbo].[Accounts] OFF
GO
INSERT [dbo].[Companies] ([CompanyId], [CompanyName], [CompanyMailingName], [CompanyCode], [CompanyAddress], [CompanyState], [Country], [Pincode], [TelephoneNo], [MobileNo], [Email], [Website], [BaseCurrencySymbol], [FinancialYearBeginning], [BookBeginning]) VALUES (N'SB001', N'SB PVT LTD', N'SB PVT LTD', N'SB001', N'NETAJINAGAR', N'West Bengal', N'India', N'700092', N'9123317556', NULL, N'sb@gmail.com', N'www.sb.com', N'INR', CAST(N'2025-03-04T00:00:00.000' AS DateTime), CAST(N'2025-03-04T00:00:00.000' AS DateTime))
INSERT [dbo].[Companies] ([CompanyId], [CompanyName], [CompanyMailingName], [CompanyCode], [CompanyAddress], [CompanyState], [Country], [Pincode], [TelephoneNo], [MobileNo], [Email], [Website], [BaseCurrencySymbol], [FinancialYearBeginning], [BookBeginning]) VALUES (N'SB002', N'SB Corporation', N'SB Corporation', N'SB002', N'BEHALA', N'West Bengal', N'India', N'700041', N'9433285849', NULL, N'sauravbhattacharjee967@gmail.com', N'www.codeigniters.com', N'INR', CAST(N'2025-03-04T00:00:00.000' AS DateTime), CAST(N'2025-03-04T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[Countries] ([CountryCode], [CountryName], [CountryShortName]) VALUES (N'1', N'India', N'IND')
GO
SET IDENTITY_INSERT [dbo].[DayBooks] ON 

INSERT [dbo].[DayBooks] ([DayBookId], [Date], [Description], [DebitAmount], [CreditAmount], [AccountId], [GeneralLedgerId], [CreatedDate], [UpdatedDate]) VALUES (1, CAST(N'2025-03-27T20:24:03.617' AS DateTime), N'Purchase of office supplies', CAST(1500.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), 1, 1, CAST(N'2025-03-27T20:24:03.617' AS DateTime), CAST(N'2025-03-27T20:24:03.617' AS DateTime))
INSERT [dbo].[DayBooks] ([DayBookId], [Date], [Description], [DebitAmount], [CreditAmount], [AccountId], [GeneralLedgerId], [CreatedDate], [UpdatedDate]) VALUES (2, CAST(N'2025-03-27T20:24:03.617' AS DateTime), N'Sale of product A', CAST(0.00 AS Decimal(18, 2)), CAST(2500.00 AS Decimal(18, 2)), 2, 2, CAST(N'2025-03-27T20:24:03.617' AS DateTime), CAST(N'2025-03-27T20:24:03.617' AS DateTime))
INSERT [dbo].[DayBooks] ([DayBookId], [Date], [Description], [DebitAmount], [CreditAmount], [AccountId], [GeneralLedgerId], [CreatedDate], [UpdatedDate]) VALUES (3, CAST(N'2025-03-27T20:24:03.617' AS DateTime), N'Maintenance expense', CAST(800.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), 1, 3, CAST(N'2025-03-27T20:24:03.617' AS DateTime), CAST(N'2025-03-27T20:24:03.617' AS DateTime))
SET IDENTITY_INSERT [dbo].[DayBooks] OFF
GO
SET IDENTITY_INSERT [dbo].[GeneralLedgers] ON 

INSERT [dbo].[GeneralLedgers] ([GeneralLedgerId], [LedgerName], [GroupOrType], [DynamicField], [OpeningBalance], [CrDr], [LedgerGroupId]) VALUES (1, N'Cash', N'Asset', N'Main cash account', CAST(10000.00 AS Decimal(18, 2)), N'DR', 1)
INSERT [dbo].[GeneralLedgers] ([GeneralLedgerId], [LedgerName], [GroupOrType], [DynamicField], [OpeningBalance], [CrDr], [LedgerGroupId]) VALUES (2, N'Accounts Receivable', N'Asset', N'Customer invoices', CAST(5000.00 AS Decimal(18, 2)), N'DR', 1)
INSERT [dbo].[GeneralLedgers] ([GeneralLedgerId], [LedgerName], [GroupOrType], [DynamicField], [OpeningBalance], [CrDr], [LedgerGroupId]) VALUES (3, N'Sales Revenue', N'Income', N'Revenue from sales', CAST(0.00 AS Decimal(18, 2)), N'CR', 2)
SET IDENTITY_INSERT [dbo].[GeneralLedgers] OFF
GO
SET IDENTITY_INSERT [dbo].[LedgerGroups] ON 

INSERT [dbo].[LedgerGroups] ([LedgerGroupId], [GroupName]) VALUES (1, N'Purchase Accounts')
INSERT [dbo].[LedgerGroups] ([LedgerGroupId], [GroupName]) VALUES (2, N'Sales Account')
INSERT [dbo].[LedgerGroups] ([LedgerGroupId], [GroupName]) VALUES (3, N'Duties and Taxes')
SET IDENTITY_INSERT [dbo].[LedgerGroups] OFF
GO
SET IDENTITY_INSERT [dbo].[LedgerHeads] ON 

INSERT [dbo].[LedgerHeads] ([LedgerHeadID], [LedgerName], [Description], [OpeningBalance], [CreatedAt], [UpdatedAt]) VALUES (1, N'Sundry Creditors', N'Ceditors', CAST(250000.00 AS Decimal(18, 2)), CAST(N'2025-03-04T00:00:00.000' AS DateTime), CAST(N'2025-03-04T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[LedgerHeads] OFF
GO
INSERT [dbo].[States] ([StateCode], [StateName], [StateShortName], [CountryCode]) VALUES (N'1', N'Jammu and Kashmir', N'JK', N'1')
INSERT [dbo].[States] ([StateCode], [StateName], [StateShortName], [CountryCode]) VALUES (N'10', N'Bihar', N'BR', N'1')
INSERT [dbo].[States] ([StateCode], [StateName], [StateShortName], [CountryCode]) VALUES (N'11', N'Sikkim', N'SK', N'1')
GO
SET IDENTITY_INSERT [dbo].[UnitOfMeasurements] ON 

INSERT [dbo].[UnitOfMeasurements] ([UnitID], [UnitName], [ShortName]) VALUES (1, N'BAGS', N'BAG')
INSERT [dbo].[UnitOfMeasurements] ([UnitID], [UnitName], [ShortName]) VALUES (2, N'BALE', N'BAL')
INSERT [dbo].[UnitOfMeasurements] ([UnitID], [UnitName], [ShortName]) VALUES (3, N'BUNDLES', N'BDL')
SET IDENTITY_INSERT [dbo].[UnitOfMeasurements] OFF
GO
/****** Object:  Index [IX_AccountId]    Script Date: 3/28/2025 8:57:49 PM ******/
CREATE NONCLUSTERED INDEX [IX_AccountId] ON [dbo].[DayBooks]
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_GeneralLedgerId]    Script Date: 3/28/2025 8:57:49 PM ******/
CREATE NONCLUSTERED INDEX [IX_GeneralLedgerId] ON [dbo].[DayBooks]
(
	[GeneralLedgerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LedgerGroupId]    Script Date: 3/28/2025 8:57:49 PM ******/
CREATE NONCLUSTERED INDEX [IX_LedgerGroupId] ON [dbo].[GeneralLedgers]
(
	[LedgerGroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SettingID]    Script Date: 3/28/2025 8:57:49 PM ******/
CREATE NONCLUSTERED INDEX [IX_SettingID] ON [dbo].[GlobalDataConfigs]
(
	[SettingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ItemId]    Script Date: 3/28/2025 8:57:49 PM ******/
CREATE NONCLUSTERED INDEX [IX_ItemId] ON [dbo].[GlobalStocks]
(
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CompanyId]    Script Date: 3/28/2025 8:57:49 PM ******/
CREATE NONCLUSTERED INDEX [IX_CompanyId] ON [dbo].[GstDetails]
(
	[CompanyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ConnectedDetails_ConnectedDetailsId]    Script Date: 3/28/2025 8:57:49 PM ******/
CREATE NONCLUSTERED INDEX [IX_ConnectedDetails_ConnectedDetailsId] ON [dbo].[GstDetails]
(
	[ConnectedDetails_ConnectedDetailsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_EInvoiceDetails_EInvoiceDetailsId]    Script Date: 3/28/2025 8:57:49 PM ******/
CREATE NONCLUSTERED INDEX [IX_EInvoiceDetails_EInvoiceDetailsId] ON [dbo].[GstDetails]
(
	[EInvoiceDetails_EInvoiceDetailsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_EWayBillDetails_EWayBillDetailsId]    Script Date: 3/28/2025 8:57:49 PM ******/
CREATE NONCLUSTERED INDEX [IX_EWayBillDetails_EWayBillDetailsId] ON [dbo].[GstDetails]
(
	[EWayBillDetails_EWayBillDetailsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ParentGroupId]    Script Date: 3/28/2025 8:57:49 PM ******/
CREATE NONCLUSTERED INDEX [IX_ParentGroupId] ON [dbo].[ItemGroups]
(
	[ParentGroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ItemCategory_ItemCategoryId]    Script Date: 3/28/2025 8:57:49 PM ******/
CREATE NONCLUSTERED INDEX [IX_ItemCategory_ItemCategoryId] ON [dbo].[Items]
(
	[ItemCategory_ItemCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SupplierId]    Script Date: 3/28/2025 8:57:49 PM ******/
CREATE NONCLUSTERED INDEX [IX_SupplierId] ON [dbo].[Items]
(
	[SupplierId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CountryCode]    Script Date: 3/28/2025 8:57:49 PM ******/
CREATE NONCLUSTERED INDEX [IX_CountryCode] ON [dbo].[States]
(
	[CountryCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CompanyId]    Script Date: 3/28/2025 8:57:49 PM ******/
CREATE NONCLUSTERED INDEX [IX_CompanyId] ON [dbo].[TcsDetails]
(
	[CompanyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CompanyId]    Script Date: 3/28/2025 8:57:49 PM ******/
CREATE NONCLUSTERED INDEX [IX_CompanyId] ON [dbo].[TdsDetails]
(
	[CompanyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CreditLedgerId]    Script Date: 3/28/2025 8:57:49 PM ******/
CREATE NONCLUSTERED INDEX [IX_CreditLedgerId] ON [dbo].[Transactions]
(
	[CreditLedgerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DebitLedgerId]    Script Date: 3/28/2025 8:57:49 PM ******/
CREATE NONCLUSTERED INDEX [IX_DebitLedgerId] ON [dbo].[Transactions]
(
	[DebitLedgerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GeneralLedgers] ADD  DEFAULT ((0)) FOR [LedgerGroupId]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT ((0)) FOR [Type]
GO
ALTER TABLE [dbo].[DayBooks]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DayBooks_dbo.Accounts_AccountId] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Accounts] ([AccountId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DayBooks] CHECK CONSTRAINT [FK_dbo.DayBooks_dbo.Accounts_AccountId]
GO
ALTER TABLE [dbo].[DayBooks]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DayBooks_dbo.GeneralLedgers_GeneralLedgerId] FOREIGN KEY([GeneralLedgerId])
REFERENCES [dbo].[GeneralLedgers] ([GeneralLedgerId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DayBooks] CHECK CONSTRAINT [FK_dbo.DayBooks_dbo.GeneralLedgers_GeneralLedgerId]
GO
ALTER TABLE [dbo].[GeneralLedgers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.GeneralLedgers_dbo.LedgerGroups_LedgerGroupId] FOREIGN KEY([LedgerGroupId])
REFERENCES [dbo].[LedgerGroups] ([LedgerGroupId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GeneralLedgers] CHECK CONSTRAINT [FK_dbo.GeneralLedgers_dbo.LedgerGroups_LedgerGroupId]
GO
ALTER TABLE [dbo].[GlobalDataConfigs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.GlobalDataConfigs_dbo.ERPSettings_SettingID] FOREIGN KEY([SettingID])
REFERENCES [dbo].[ERPSettings] ([SettingID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GlobalDataConfigs] CHECK CONSTRAINT [FK_dbo.GlobalDataConfigs_dbo.ERPSettings_SettingID]
GO
ALTER TABLE [dbo].[GlobalStocks]  WITH CHECK ADD  CONSTRAINT [FK_dbo.GlobalStocks_dbo.Items_ItemId] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Items] ([ItemId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GlobalStocks] CHECK CONSTRAINT [FK_dbo.GlobalStocks_dbo.Items_ItemId]
GO
ALTER TABLE [dbo].[GstDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.GstDetails_dbo.Companies_CompanyId] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Companies] ([CompanyId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GstDetails] CHECK CONSTRAINT [FK_dbo.GstDetails_dbo.Companies_CompanyId]
GO
ALTER TABLE [dbo].[GstDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.GstDetails_dbo.EInvoiceDetails_EInvoiceDetails_EInvoiceDetailsId] FOREIGN KEY([EInvoiceDetails_EInvoiceDetailsId])
REFERENCES [dbo].[EInvoiceDetails] ([EInvoiceDetailsId])
GO
ALTER TABLE [dbo].[GstDetails] CHECK CONSTRAINT [FK_dbo.GstDetails_dbo.EInvoiceDetails_EInvoiceDetails_EInvoiceDetailsId]
GO
ALTER TABLE [dbo].[GstDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.GstDetails_dbo.EWayBillDetails_EWayBillDetails_EWayBillDetailsId] FOREIGN KEY([EWayBillDetails_EWayBillDetailsId])
REFERENCES [dbo].[EWayBillDetails] ([EWayBillDetailsId])
GO
ALTER TABLE [dbo].[GstDetails] CHECK CONSTRAINT [FK_dbo.GstDetails_dbo.EWayBillDetails_EWayBillDetails_EWayBillDetailsId]
GO
ALTER TABLE [dbo].[GstDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.GstDetails_dbo.GstConnectedDetails_ConnectedDetails_ConnectedDetailsId] FOREIGN KEY([ConnectedDetails_ConnectedDetailsId])
REFERENCES [dbo].[GstConnectedDetails] ([ConnectedDetailsId])
GO
ALTER TABLE [dbo].[GstDetails] CHECK CONSTRAINT [FK_dbo.GstDetails_dbo.GstConnectedDetails_ConnectedDetails_ConnectedDetailsId]
GO
ALTER TABLE [dbo].[ItemGroups]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ItemGroups_dbo.ItemGroups_ParentGroupId] FOREIGN KEY([ParentGroupId])
REFERENCES [dbo].[ItemGroups] ([ItemGroupId])
GO
ALTER TABLE [dbo].[ItemGroups] CHECK CONSTRAINT [FK_dbo.ItemGroups_dbo.ItemGroups_ParentGroupId]
GO
ALTER TABLE [dbo].[Items]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Items_dbo.ItemCategories_ItemCategory_ItemCategoryId] FOREIGN KEY([ItemCategory_ItemCategoryId])
REFERENCES [dbo].[ItemCategories] ([ItemCategoryId])
GO
ALTER TABLE [dbo].[Items] CHECK CONSTRAINT [FK_dbo.Items_dbo.ItemCategories_ItemCategory_ItemCategoryId]
GO
ALTER TABLE [dbo].[Items]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Items_dbo.Suppliers_SupplierId] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Suppliers] ([SupplierId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Items] CHECK CONSTRAINT [FK_dbo.Items_dbo.Suppliers_SupplierId]
GO
ALTER TABLE [dbo].[States]  WITH CHECK ADD  CONSTRAINT [FK_dbo.States_dbo.Countries_CountryCode] FOREIGN KEY([CountryCode])
REFERENCES [dbo].[Countries] ([CountryCode])
GO
ALTER TABLE [dbo].[States] CHECK CONSTRAINT [FK_dbo.States_dbo.Countries_CountryCode]
GO
ALTER TABLE [dbo].[TcsDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TcsDetails_dbo.Companies_CompanyId] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Companies] ([CompanyId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TcsDetails] CHECK CONSTRAINT [FK_dbo.TcsDetails_dbo.Companies_CompanyId]
GO
ALTER TABLE [dbo].[TdsDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TdsDetails_dbo.Companies_CompanyId] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Companies] ([CompanyId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TdsDetails] CHECK CONSTRAINT [FK_dbo.TdsDetails_dbo.Companies_CompanyId]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Transactions_dbo.GeneralLedgers_CreditLedgerId] FOREIGN KEY([CreditLedgerId])
REFERENCES [dbo].[GeneralLedgers] ([GeneralLedgerId])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_dbo.Transactions_dbo.GeneralLedgers_CreditLedgerId]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Transactions_dbo.GeneralLedgers_DebitLedgerId] FOREIGN KEY([DebitLedgerId])
REFERENCES [dbo].[GeneralLedgers] ([GeneralLedgerId])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_dbo.Transactions_dbo.GeneralLedgers_DebitLedgerId]
GO
USE [master]
GO
